billiard==3.6.1.0
celery==4.4.0
flower==0.9.3
kombu==4.6.7
redis==3.2.1
vine==1.3.0
pydevd-pycharm==203.6682.179
beautifulsoup4==4.9.3
DateTime==4.3
empyrical==0.5.5
h5py==3.1.0
html5lib==1.1
ib-insync==0.9.64
ipython==7.19.0
jsonschema==3.2.0
lxml==4.6.2
matplotlib==3.3.3
more-itertools==8.6.0
multitasking==0.0.9
mysql-connector-python==8.0.22
mysqlclient==2.0.3
nest-asyncio==1.4.3
numexpr==2.7.1
numpy==1.19.3
pandas==1.1.4
pandas-datareader==0.9.0
pandas-market-calendars==1.6.1
pathlib==1.0.1
polygon-api-client==0.1.9
python-dateutil==2.8.1
nbformat==5.1.2
pytz==2020.4
PyYAML==5.3.1
Quandl==3.5.3
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
statsmodels==0.12.1
sqlalchemy==1.3.23
tables==3.6.1
trading-calendars==2.0.0
urllib3==1.26.2
yfinance==0.1.55
zipp==3.4.0
asyncio==3.4.3
